/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap");

/*=============== Home Section ================= */
@import url(./sections/home/header.css);
@import url(./sections/home/home.css);
@import url(./sections/home/categories.css);
@import url(./sections/home/products.css);
@import url(./sections/home/deals.css);
@import url(./sections/home/showcase.css);
@import url(./sections/home/newsletter.css);
@import url(./sections/home/footer.css);

/*=============== Shop Section ================= */
@import url(./sections/shop/breadcrumb.css);
@import url(./sections/shop/products.css);
@import url(./sections/shop/details.css);
@import url(./sections/shop/cart.css);
@import url(./sections/shop/checkout.css);
@import url(./sections/shop/compare.css);

/*=============== Account Section =================*/
@import url(./sections/account/login&register.css);
@import url(./sections/account/account.css);

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: HSL(176, 88%, 27%);
  --first-color-alt: HSL(128, 44%, 94%);
  --second-color: HSL(34, 94%, 87%);
  --title-color: HSL(0, 0%, 13%);
  --text-color: HSL(154, 13%, 32%);
  --text-color-light: HSL(60, 1%, 56%);
  --body-color: HSL(0, 0%, 100%);
  --container-color: HSL(0, 0%, 93%);
  --border-color: HSL(129, 36%, 85%);
  --border-color-alt: HSL(113, 15%, 90%);

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: "Lato", sans-serif;
  --second-font: "Spartan", sans-serif;
  --big-font-size: 3.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.6875rem;

  /*========== Font weight ==========*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0, 0, 0.05, 1);
}

/* Responsive typography */
@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: 2.25rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.375rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.125rem;
    --large-font-size: 1rem;
    --normal-font-size: 0.9375rem;
    --small-font-size: 0.8125rem;
    --smaller-font-size: 0.6875rem;
    --tiny-font-size: 0.625rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-400);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-600);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}

button,
textarea,
input {
  background-color: transparent;
  border: none;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 0.75rem;
  overflow: hidden;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2rem;
}

.section-lg {
  padding-block: 4rem;
}

.section__title {
  font-size: var(--h4-font-size);
  margin-bottom: 1.5rem;
}

.section__title span {
  color: var(--first-color);
}

.form__input {
  border: 1px solid var(--border-color-alt);
  padding-inline: 1rem;
  height: 45px;
  border-radius: 0.25rem;
  font-size: var(--small-font-size);
}

.new__price {
  color: var(--first-color);
  font-weight: var(--weight-600);
}

.old__price {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-decoration: line-through;
}

.form {
  row-gap: 1rem;
}

.form__group {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.textarea {
  height: 200px;
  padding-block: 1rem;
  resize: none;
}

/*=============== BUTTONS ===============*/
.btn {
  display: inline-block;
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  color: var(--body-color);
  padding-inline: 1.75rem;
  height: 49px;
  line-height: 49px;
  border-radius: 0.25rem;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  transition: all 0.4s var(--transition);
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.btn:hover {
  background-color: transparent;
  color: var(--first-color);
}

.btn--md {
  font-family: var(--body-font);
  height: 45px;
  line-height: 42px;
}

.btn--sm {
  font-family: var(--body-font);
  height: 40px;
  line-height: 36px;
}
/*=============== CATEGORIES ===============*/

/* Swiper class */
.swiper {
  overflow: initial;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: -1.875rem;
  background-color: var(--first-color-alt);
  border: 1px solid var(--border-color);
  width: 30;
  height: 30px;
  border-radius: 50%;
  color: var(--first-color);
  font-size: var(--tiny-font-size);
}

.swiper-button-prev {
  left: initial;
  right: 2.5rem;
}

.swiper-button-next {
  right: 0;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }

  .products__container,
  .new__container,
  .showcase__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .account__container {
    grid-template-columns: 3fr 9fr;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .header__top {
    display: none;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__logo-img {
    width: 116px;
  }

  .nav__menu {
    position: fixed;
    right: -100%;
    top: 0;
    max-width: 400px;
    width: 100%;
    height: 100%;
    padding: 1.25rem 2rem;
    background-color: var(--body-color);
    z-index: 100;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    box-shadow: 0 0 15px hsla(0, 0%, 0% 0.1);
    transition: all 0.25s var(--transition);
  }

  .show-menu {
    right: 0;
  }

  .nav__list {
    order: 1;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
  }

  .nav__link {
    font-size: var(--large-font-size);
  }

  .nav__search .form__input {
    border-color: var(--first-color);
  }

  .nav__menu-top,
  .nav__toggle {
    display: flex;
  }

  .nav__menu-top {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .nav__menu-logo img {
    width: 100px;
  }

  .nav__close {
    font-size: var(--h2-font-size);
    line-height: 1rem;
  }

  .header__action-btn {
    width: 21px;
  }

  .home__container {
    grid-template-columns: 5.5fr 6.5fr;
  }

  .countdown {
    column-gap: 1rem;
  }

  .countdown__period {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

  .countdown__amount::after {
    right: -30%;
    top: 14%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: -28px;
    height: 26px;
    height: 26px;
  }

  .swiper-button-prev {
    right: 36px;
  }

  .account__tab {
    padding: 0.75rem 1rem;
  }

  .checkout__group:nth-child(2) {
    padding: 1.5rem;
  }

  .details__brand {
    margin-block: 0.75rem;
  }

  .details__price {
    padding-block: 0.75rem;
  }

  .short__description {
    margin-bottom: 1.5rem;
  }

  .details__color {
    margin-bottom: 1.75rem;
  }

  .details__size {
    margin-bottom: 2.25rem;
  }

  .color__link {
    width: 22px;
    height: 22px;
  }

  .size__link {
    padding: 0.375rem 0.625rem;
  }

  .details__action {
    margin-bottom: 2.75rem;
  }

  .deals__item {
    padding: 1rem;
  }

  .newsletter__description {
    text-align: center;
  }
}

/* For medium devices */
@media screen and (max-width: 992px) {
  .container {
    max-width: 740px;
  }

  .home__container,
  .deals__container,
  .newsletter__container,
  .account__container,
  .cart__group {
    grid-template-columns: 1fr;
  }

  .home__img {
    justify-self: center;
  }

  .cart__group {
    row-gap: 2.75rem;
  }

  .login,
  .register {
    padding: 1.25rem;
  }

  .btn {
    height: 45px;
    line-height: 45px;
  }

  .btn--md {
    height: 42px;
    line-height: 39px;
  }

  .btn--sm {
    height: 38px;
    line-height: 35px;
  }

  .newsletter__title {
    justify-content: center;
  }
  .newsletter__description {
    text-align: center;
  }
  .newsletter__form {
    width: 75%;
    justify-self: center;
  }

  .products__container,
  .showcase__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .table tr th:nth-child(1),
  .table tr td:nth-child(1) {
    width: 140px;
  }

  .table tr th:nth-child(2),
  .table tr td:nth-child(2) {
    width: 330px;
  }

  .table tr th:nth-child(3),
  .table tr td:nth-child(3) {
    width: 80px;
  }

  .table tr th:nth-child(4),
  .table tr td:nth-child(4) {
    width: 160px;
  }

  .table tr th:nth-child(5),
  .table tr td:nth-child(5) {
    width: 160px;
  }

  .table tr th:nth-child(6),
  .table tr td:nth-child(6) {
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .products__container,
  .details__container,
  .showcase__container,
  .login-register__container,
  .footer__container,
  .deals__container,
  .checkout__container {
    grid-template-columns: 100%;
  }

  .compare__table td,
  .compare__table th {
    display: block;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .home__container {
    row-gap: 2rem;
  }

  .tab__btns {
    justify-content: center;
  }

  .category__items {
    padding-block: 1rem;
  }

  .category__img {
    margin-bottom: 1rem;
  }

  .deals__item,
  .checkout__group:nth-child(2) {
    padding: 1.25rem;
  }

  .pagination {
    column-gap: 0.5rem;
    margin-top: 2.5rem;
  }

  .pagination__link {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .placed__order-table th,
  .order__table th {
    display: none;
  }

  .compare__table th,
  .placed__order-table td,
  .order__table td,
  .info__table th,
  .info__table td {
    display: block;
  }

  .form__group {
    grid-template-columns: 1fr;
  }

  .cart__total {
    padding: 1.25rem;
  }

  .payment__methods {
    margin-block: 2.25rem 2.5rem;
  }

  .details__tabs {
    column-gap: 1.25rem;
    margin-bottom: 2.5rem;
  }

  .review__single {
    column-gap: 1rem;
  }

  .footer__title {
    margin-bottom: 0.25rem;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .newsletter__form {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .action__btn {
    width: 36px;
    height: 36px;
    line-height: 38px;
  }

  .cart__btn {
    bottom: 1.4rem;
    right: 1.25rem;
  }

  .showcase__item {
    column-gap: 1rem;
  }

  .showcase__img {
    width: 70px;
  }

  .showcase__content {
    width: calc(100% - 86px);
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .compare__table th,
  .cart__total-table tr td {
    display: block;
    width: 100%;
  }

  .nav__search {
    width: 100%;
  }

  .tab__btns {
    display: block;
    margin-left: -0.25rem;
  }

  .newsletter__form {
    width: 100%;
  }
}
