.checkout__container {
  grid-template-columns: repeat(2, 1fr);
}

.checkout__group:nth-child(2) {
  border: 1px solid var(--border-color-alt);
  padding: 2rem;
  border-radius: 0.5rem;
}

.checkout__group .section__title {
  font-size: var(--large-font-size);
}

.checkout__title {
  font-size: var(--small-font-size);
}

.order__table tr th,
.order__table tr td {
  border: 1px solid var(--border-color-alt);
  padding: 0.5rem;
  text-align: center;
}

.order__table tr th {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.order__img {
  width: 80px;
}

.table__quantity,
.order__subtitle {
  font-size: var(--small-font-size);
}

.order__grand-total {
  color: var(--first-color);
  font-size: var(--large-font-size);
  font-weight: var(--weight-700);
}

.payment__methods {
  margin-block: 2.5rem 2.75rem;
}

.payment__title {
  margin-bottom: 1.5rem;
}

.payment__option {
  margin-bottom: 1rem;
}

.payment__input {
  accent-color: var(--first-color);
}

.payment__label {
  font-size: var(--small-font-size);
}
