.total__products {
  margin-bottom: 2.5rem;
}

.total__products span {
  color: var(--first-color);
  font-weight: var(--weight-600);
  margin-inline: 0.25rem;
}

.pagination {
  display: flex;
  column-gap: 0.625rem;
  margin-top: 2.75rem;
}

.pagination__link {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 0.25rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  transition: all 0.15s var(--transition);
}

.pagination__link.active,
.pagination__link:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}

.pagination__link.icon {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
