.category__items li {
  text-align: center;
  border: 1px solid var(--border-color);
  padding: 0.625rem 0.625rem 1.25rem;
  border-radius: 1.25rem;
}

.category__img {
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}

.category__title {
  color: var(--text-color);
  font-size: var(--small-font-size);
}
