.header__top {
  background-color: var(--first-color-alt);
  border-bottom: 1px solid var(--first-color);
  padding-block: 0.875rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact span:first-child {
  margin-right: 1rem;
}

.header__contact span,
.header__alert-news,
.header__top-action {
  font-size: var(--small-font-size);
}

.header__alert-news {
  color: var(--text-color-light);
  font-weight: var(--weight-600);
}

.header__top-action {
  color: var(--text-color);
}

.nav,
.nav__menu,
.nav__list,
.nav__user-actions {
  display: flex;
  align-items: center;
}

.nav {
  height: calc(var(--header-height) + 2.5rem);
  justify-content: space-between;
}

.nav__logo-img {
  width: 120px;
}

.nav__menu {
  flex-grow: 1;
  margin-left: 2.5rem;
}

.nav__list {
  margin-right: auto;
  column-gap: 2.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--weight-700);
  transition: all 0.2s var(--transition);
}

.nav__search {
  margin-right: 1rem;
  width: 340px;
  position: relative;
}

.nav__search .form__input {
  width: 100%;
}

.search__btn {
  position: absolute;
  top: 24%;
  right: 1.25rem;
  cursor: pointer;
}

.nav__user-actions {
  column-gap: 1.25rem;
}

.nav__action-btn {
  position: relative;
}

.nav__action-btn img {
  width: 24px;
}

.nav__action-btn .count {
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
  background-color: var(--first-color);
  color: var(--body-color);
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  font-size: var(--tiny-font-size);
}

.nav__menu-top,
.nav__toggle {
  display: none;
}

/* Active Link */
.active-link,
.nav__link:hover {
  color: var(--first-color);
}
